{% extends "books/base.html" %}

{% block content %}
    <h2>Available Books</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Condition</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.condition }}</td>
                <td>{{ book.contact }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
